name: CI + Docker Push

on:
  push:
    branches: [ master, feature/ci-setup ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install

      - name: Run RSpec tests
        run: bundle exec rspec

  push_to_dockerhub:
    runs-on: ubuntu-latest
    needs: build_and_test
    if: github.ref == 'refs/heads/master'   # Only run when merging/pushing to master

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/todo-lab:latest .

      - name: Tag image with commit SHA
        run: |
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/todo-lab:latest \
          ${{ secrets.DOCKERHUB_USERNAME }}/todo-lab:${{ github.sha }}
      

      - name: Push images to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/todo-lab:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/todo-lab:${{ github.sha }}
